  * { box-sizing: border-box; margin: 0; padding: 0; }
  body {
  
    font-family: 'Arial', sans-serif;
    color: white;
     
    background:linear-gradient(rgba(0, 0, 0, 0.457), rgb(0, 0, 0)), url(/img/dark-background-abstract-background-network-3d-background-7680x4320-8324.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    margin: 0;
    min-height: 100vh;


    
  }

  /* Container หลัก */
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  
  /* --- 2. about Section --- */
  .about {
    display: grid;
    grid-template-columns: 1.5fr 1fr; /* ซ้ายกว้างกว่าขวาหน่อย */
    gap: 40px;
    padding: 60px 0;
    align-items: center;
  }
  .about h1 { font-size: 70px; line-height: 1.2; }

  /* --- 3. Stats & img --- */
  .img {
    display: flex;
    grid-template-columns: 1fr 1fr; /* แบ่งครึ่ง */
    gap: 40px;
    margin-bottom: 60px;
  }
  .stats-list {
    
    display: grid;
    grid-template-columns: 100%; 
    gap: 40px;
    margin-bottom: auto;
  }
  .stat-item {
    /* ใช้ Class Glassmorphism */
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100%;
    margin: 30px;
    margin-bottom: -100px;
    
    
    
  }

  .stat-item:hover {
    box-shadow: inset 2px 2px 5px #868686, inset -2px -2px 5px #2a2a2a, 2px 2px 5px #2c2c2c, -2px -2px 5px #f5f5f5;
  }


  .introduce {
    font-size: 2.5rem; opacity: 0.5; 
    
  }

  /* --- 4. Features Grid (4 Columns) --- */
  .features-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 ช่องเท่ากัน */
    gap: 20px;
    margin-bottom: 60px;
    
  }
  .feature-card {
    background: rgba(255, 255, 255, 0.05); /* Glass Style */
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .feature-card:hover {
    box-shadow: inset 2px 2px 5px #868686, inset -2px -2px 5px #2a2a2a, 2px 2px 5px #2c2c2c, -2px -2px 5px #f5f5f5;
  }

  .feature-number { font-size: 2.5rem; opacity: 0.5; margin-bottom: 10px; }

  /* --- 5. Contact --- */
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 40px;
    padding-bottom: 60px;
  }
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 8px;
    color: white;
  }
.contact-box{
    width: 300%;
    padding: 15px;
    margin-bottom: 15px;
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 8px;
    color: white;
}

a {
    text-decoration: none;
    color: #f5bcbc;
}

button {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #ffffff, inset -4px -4px 10px #ffffff;
  color: #575353;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
  text-decoration: none;
  
  
}

button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

header {
  text-align: right;
}