body {
    
    background:linear-gradient(rgba(0, 0, 0, 0.457), rgb(0, 0, 0)), url(/img/dark-background-abstract-background-network-3d-background-7680x4320-8324.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: 'Arial', sans-serif;
    color: white;
    
  }
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    height:auto;
    padding-top: 3px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background:rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(246, 246, 246, 0.334);
    overflow: hidden;
    display:flex ;
    flex-direction: column;
    /* align-items: center; */
    }

table, th, td {
    border: 1px solid rgb(247, 246, 246);
    border-collapse: collapse;
    padding: 10px;
    }

button {
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px #ffffff, inset -4px -4px 10px #ffffff;
  color: #575353;
  cursor: pointer;
  font-size: 18px;
  padding: 15px 40px;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(206, 206, 206);
  text-decoration: none;
  
  
}

button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

a {
    color: #000;
}

h1 {
    font-size: 50px;
}

table {
   box-shadow:1px -1px 3px -3px #c5c5c5;
}